In [1]:
import matplotlib as plt
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from __future__ import (absolute_import, division, print_function)
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap as Basemap
from matplotlib.colors import rgb2hex, Normalize
from matplotlib.patches import Polygon
from matplotlib.colorbar import ColorbarBase

%matplotlib inline

In [4]:
# Hand produced table with WC teams, Statscan ethnic origina, and a pointer to the relevant value in the census table
team_vs_origin = pd.read_csv('TeamEthnicOrigin.csv')
team_vs_origin

,WC Teams,Ethnic Origin StatsCan,Member ID: Profile of Census Tracts (2247)
0,Argentina,Argentinian,1451
1,Australia,Australian,1608
2,Belgium,Belgian,1371
3,Brazil,Brazilian,1454
4,Colombia,Colombian,1456
5,Costa Rica,Costa Rican,1457
6,Croatia,Croatian,1406
7,Denmark,Danish,1380
8,Egypt,Egyptian,1507
9,England,English,1357
10,France,French,1367
11,Germany,German,1375
12,Iceland,Icelandic,1382
13,Iran,Iranian,1550
14,Japan,Japanese,1593
15,Mexico,Mexican,1464
16,Morocco,Moroccan,1510
17,Nigeria,Nigerian,1494
18,Panama,Panamanian,1466
19,Peru,Peruvian,1468
20,Poland,Polish,1396
21,Portugal,Portuguese,1414
22,Russia,Russian,1398
23,Saudi Arabia,Saudi Arabian,1561
24,Senegal,Senegalese,1496
25,Serbia,Serbian,1415
26,South Korea,Korean,1595
27,Spain,Spanish,1418
28,Sweden,Swedish,1384
29,Switzerland,Swiss,1377
30,Tunisia,Tunisian,1512
31,Uruguay,Uruguayan,1470
32,All,Total - Ethnic origin for the population in pr...,1338

# Import Census Data

In [5]:
census_data_original = pd.read_csv('98-401-X2016043_English_CSV_data.csv')

C:\Users\David\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (3,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Import Toronto Census Tracts

In [6]:
# Import census tracts from csv and convert it to file format compatible with census data
toronto_census_tracts = pd.read_csv('TorontoCensusTracts.csv',dtype=object,header=None)
toronto_census_tracts = ('535'+toronto_census_tracts[[0]])
toronto_census_tracts[0] = toronto_census_tracts[0].str.replace('.','') 
toronto_census_tracts = toronto_census_tracts.rename(columns={0:'ALT_GEO_CODE'})
toronto_census_tracts

     ALT_GEO_CODE
0       535000100
1       535000200
2       535000300
3       535000400
4       535000500
5       535000600
6       535000701
7       535000702
8       535000801
9       535000802
10      535000900
11      535001001
12      535001002
13      535001100
14      535001201
15      535001203
16      535001204
17      535001301
18      535001302
19      535001400
20      535001500
21      535001600
22      535001700
23      535001800
24      535001900
25      535002000
26      535002100
27      535002200
28      535002300
29      535002400
...           ...
1121    535080506
1122    535080509
1123    535080510
1124    535080512
1125    535080514
1126    535080515
1127    535080516
1128    535080517
1129    535080518
1130    535080519
1131    535080520
1132    535080521
1133    535080600
1134    535080700
1135    535081001
1136    535081002
1137    535081003
1138    535081004
1139    535081005
1140    535081100
1141    535081200
1142    535082003
1143    535082004
1144    535082005
1145    535082006
1146    535082007
1147    535083000
1148    535083101
1149    535083102
1150    535083200

[1151 rows x 1 columns]

# Import Features I am interested in

In [7]:
world_cup_nationalities = pd.read_csv('TeamEthnicOrigin.csv')

In [8]:
world_cup_nationalities

,WC Teams,Ethnic Origin StatsCan,Member ID: Profile of Census Tracts (2247)
0,Argentina,Argentinian,1451
1,Australia,Australian,1608
2,Belgium,Belgian,1371
3,Brazil,Brazilian,1454
4,Colombia,Colombian,1456
5,Costa Rica,Costa Rican,1457
6,Croatia,Croatian,1406
7,Denmark,Danish,1380
8,Egypt,Egyptian,1507
9,England,English,1357
10,France,French,1367
11,Germany,German,1375
12,Iceland,Icelandic,1382
13,Iran,Iranian,1550
14,Japan,Japanese,1593
15,Mexico,Mexican,1464
16,Morocco,Moroccan,1510
17,Nigeria,Nigerian,1494
18,Panama,Panamanian,1466
19,Peru,Peruvian,1468
20,Poland,Polish,1396
21,Portugal,Portuguese,1414
22,Russia,Russian,1398
23,Saudi Arabia,Saudi Arabian,1561
24,Senegal,Senegalese,1496
25,Serbia,Serbian,1415
26,South Korea,Korean,1595
27,Spain,Spanish,1418
28,Sweden,Swedish,1384
29,Switzerland,Swiss,1377
30,Tunisia,Tunisian,1512
31,Uruguay,Uruguayan,1470
32,All,Total - Ethnic origin for the population in pr...,1338

In [9]:
# Pick out section from data
census_data_filter = census_data_original[(census_data_original['ALT_GEO_CODE']>=int(min(toronto_census_tracts['ALT_GEO_CODE'])))&
                                         (census_data_original['ALT_GEO_CODE']<=int(max(toronto_census_tracts['ALT_GEO_CODE'])))]

# Merge dataframes together to get only required census tracts and relevant fields
census_data_filter = pd.merge(census_data_filter,toronto_census_tracts,on='ALT_GEO_CODE',how='left')
census_data_filter = pd.merge(census_data_filter,world_cup_nationalities,on='Member ID: Profile of Census Tracts (2247)',how='inner')
census_data_filter

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,DIM: Profile of Census Tracts (2247),Member ID: Profile of Census Tracts (2247),Notes: Profile of Census Tracts (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female,WC Teams,Ethnic Origin StatsCan
0,2016,5350001.00,2,0001.00,2.7,0.8,0,535000100,Total - Ethnic origin for the population in pr...,1338,129.0,575,315,265,All,Total - Ethnic origin for the population in pr...
1,2016,5350002.00,2,0002.00,9.0,7.4,101,535000200,Total - Ethnic origin for the population in pr...,1338,129.0,650,290,365,All,Total - Ethnic origin for the population in pr...
2,2016,5350003.00,2,3,28.3,0.9,2100,535000300,Total - Ethnic origin for the population in pr...,1338,129.0,455,220,235,All,Total - Ethnic origin for the population in pr...
3,2016,5350004.00,2,4,6.6,5.3,101,535000400,Total - Ethnic origin for the population in pr...,1338,129.0,6350,3170,3180,All,Total - Ethnic origin for the population in pr...
4,2016,5350005.00,2,5,4.9,6.6,1,535000500,Total - Ethnic origin for the population in pr...,1338,129.0,6105,2925,3180,All,Total - Ethnic origin for the population in pr...
5,2016,5350006.00,2,6,NaN,NaN,9999,535000600,Total - Ethnic origin for the population in pr...,1338,129.0,x,x,x,All,Total - Ethnic origin for the population in pr...
6,2016,5350007.01,2,7.01,4.8,8.4,1,535000701,Total - Ethnic origin for the population in pr...,1338,129.0,3160,1630,1525,All,Total - Ethnic origin for the population in pr...
7,2016,5350007.02,2,7.02,5.1,5.4,101,535000702,Total - Ethnic origin for the population in pr...,1338,129.0,4590,2315,2270,All,Total - Ethnic origin for the population in pr...
8,2016,5350008.01,2,8.01,4.8,4.7,0,535000801,Total - Ethnic origin for the population in pr...,1338,129.0,7635,3845,3795,All,Total - Ethnic origin for the population in pr...
9,2016,5350008.02,2,8.02,4.4,3.8,0,535000802,Total - Ethnic origin for the population in pr...,1338,129.0,9885,4825,5060,All,Total - Ethnic origin for the population in pr...
10,2016,5350009.00,2,9,32.4,9.2,3101,535000900,Total - Ethnic origin for the population in pr...,1338,129.0,275,135,140,All,Total - Ethnic origin for the population in pr...
11,2016,5350010.01,2,10.01,4.0,5.7,1,535001001,Total - Ethnic origin for the population in pr...,1338,129.0,5245,2440,2805,All,Total - Ethnic origin for the population in pr...
12,2016,5350010.02,2,10.02,6.8,6.0,100,535001002,Total - Ethnic origin for the population in pr...,1338,129.0,7400,3640,3755,All,Total - Ethnic origin for the population in pr...
13,2016,5350011.00,2,11,6.1,8.1,101,535001100,Total - Ethnic origin for the population in pr...,1338,129.0,17415,8975,8445,All,Total - Ethnic origin for the population in pr...
14,2016,5350012.01,2,12.01,5.0,5.1,101,535001201,Total - Ethnic origin for the population in pr...,1338,129.0,11630,5805,5825,All,Total - Ethnic origin for the population in pr...
15,2016,5350012.03,2,12.03,4.8,6.1,101,535001203,Total - Ethnic origin for the population in pr...,1338,129.0,8745,4675,4080,All,Total - Ethnic origin for the population in pr...
16,2016,5350012.04,2,12.04,4.8,5.0,0,535001204,Total - Ethnic origin for the population in pr...,1338,129.0,4920,2460,2460,All,Total - Ethnic origin for the population in pr...
17,2016,5350013.01,2,13.01,5.0,7.0,1,535001301,Total - Ethnic origin for the population in pr...,1338,129.0,6330,3230,3100,All,Total - Ethnic origin for the population in pr...
18,2016,5350013.02,2,13.02,4.3,5.4,0,535001302,Total - Ethnic origin for the population in pr...,1338,129.0,8050,3985,4060,All,Total - Ethnic origin for the population in pr...
19,2016,5350014.00,2,14,7.9,12.3,111,535001400,Total - Ethnic origin for the population in pr...,1338,129.0,1185,645,545,All,Total - Ethnic origin for the population in pr...
20,2016,5350015.00,2,15,4.2,5.7,0,535001500,Total - Ethnic origin for the population in pr...,1338,129.0,3650,1800,1850,All,Total - Ethnic origin for the population in pr...
21,2016,5350016.00,2,16,6.3,5.8,0,535001600,Total - Ethnic origin for the population in pr...,1338,129.0,9715,4935,4780,All,Total - Ethnic origin for the population in pr...
22,2016,5350017.00,2,17,4.6,5.4,0,535001700,Total - Ethnic origin for the population in pr...,1338,129.0,7875,3695,4175,All,Total - Ethnic origin for the population in pr...
23,2016,5350018.00,2,18,5.6,3.7,100,535001800,Total - Ethnic origin for the population in pr...,1338,129.0,2390,1210,1175,All,Total - Ethnic origin for the population in pr...
24,2016,5350019.00,2,19,6.8,2.4,100,535001900,Total - Ethnic origin for the population in pr...,1338,129.0,3080,1545,1530,All,Total - Ethnic origin for the population in pr...
25,2016,5350020.00,2,20,3.0,3.2,0,535002000,Total - Ethnic origin for the population in pr...,1338,129.0,2415,1140,1280,All,Total - Ethnic origin for the population in pr...
26,2016,5350021.00,2,21,3.9,5.8,1,535002100,Total - Ethnic origin for the population in pr...,1338,129.0,5165,2365,2800,All,Total - Ethnic origin for the population in pr...
27,2016,5350022.00,2,22,2.6,2.3,0,535002200,Total - Ethnic origin for the population in pr...,1338,129.0,4015,1965,2050,All,Total - Ethnic origin for the population in pr...
28,2016,5350023.00,2,23,2.4,1.4,0,535002300,Total - Ethnic origin for the population in pr...,1338,129.0,3050,1455,1590,All,Total - Ethnic origin for the population in pr...
29,2016,5350024.00,2,24,3.5,4.2,0,535002400,Total - Ethnic origin for the population in pr...,1338,129.0,6790,3255,3540,All,Total - Ethnic origin for the population in pr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37953,2016,5350805.06,2,805.06,3.5,4.8,0,535080506,Australian,1608,NaN,0,0,0,Australia,Australian
37954,2016,5350805.09,2,805.09,2.1,5.8,1,535080509,Australian,1608,NaN,0,0,0,Australia,Australian
37955,2016,5350805.10,2,805.1,2.1,4.4,0,535080510,Australian,1608,NaN,25,10,15,Australia,Australian
37956,2016,5350805.12,2,805.12,2.9,0.9,0,535080512,Australian,1608,NaN,10,0,10,Australia,Australian
37957,2016,5350805.14,2,805.14,1.7,4.2,0,535080514,Australian,1608,NaN,0,0,0,Australia,Australian
37958,2016,5350805.15,2,805.15,2.4,3.9,0,535080515,Australian,1608,NaN,0,0,0,Australia,Australian
37959,2016,5350805.16,2,805.16,1.6,2.5,0,535080516,Australian,1608,NaN,10,0,10,Australia,Australian
37960,2016,5350805.17,2,805.17,1.6,3.0,0,535080517,Australian,1608,NaN,0,0,0,Australia,Australian
37961,2016,5350805.18,2,805.18,2.2,2.1,0,535080518,Australian,1608,NaN,10,0,0,Australia,Australian
37962,2016,5350805.19,2,805.19,2.5,4.4,0,535080519,Australian,1608,NaN,0,0,0,Australia,Australian
37963,2016,5350805.20,2,805.2,1.9,2.5,0,535080520,Australian,1608,NaN,0,0,0,Australia,Australian
37964,2016,5350805.21,2,805.21,2.4,3.4,0,535080521,Australian,1608,NaN,0,0,0,Australia,Australian
37965,2016,5350806.00,2,806,2.5,3.3,0,535080600,Australian,1608,NaN,10,0,10,Australia,Australian
37966,2016,5350807.00,2,807,2.9,6.4,0,535080700,Australian,1608,NaN,10,0,10,Australia,Australian
37967,2016,5350810.01,2,810.01,3.5,6.3,0,535081001,Australian,1608,NaN,0,0,0,Australia,Australian
37968,2016,5350810.02,2,810.02,2.8,6.5,0,535081002,Australian,1608,NaN,0,0,10,Australia,Australian
37969,2016,5350810.03,2,810.03,2.3,2.7,0,535081003,Australian,1608,NaN,0,0,0,Australia,Australian
37970,2016,5350810.04,2,810.04,2.4,2.5,0,535081004,Australian,1608,NaN,0,0,0,Australia,Australian
37971,2016,5350810.05,2,0810.05,2.4,3.2,0,535081005,Australian,1608,NaN,0,0,0,Australia,Australian
37972,2016,5350811.00,2,0811.00,4.8,4.3,0,535081100,Australian,1608,NaN,0,0,0,Australia,Australian
37973,2016,5350812.00,2,0812.00,2.0,2.3,0,535081200,Australian,1608,NaN,0,0,0,Australia,Australian
37974,2016,5350820.03,2,0820.03,2.5,4.4,0,535082003,Australian,1608,NaN,0,0,0,Australia,Australian
37975,2016,5350820.04,2,0820.04,2.0,3.1,0,535082004,Australian,1608,NaN,0,0,0,Australia,Australian
37976,2016,5350820.05,2,0820.05,2.0,4.6,0,535082005,Australian,1608,NaN,0,0,0,Australia,Australian
37977,2016,5350820.06,2,0820.06,2.7,2.8,0,535082006,Australian,1608,NaN,10,0,0,Australia,Australian
37978,2016,5350820.07,2,0820.07,2.4,6.5,1,535082007,Australian,1608,NaN,0,0,0,Australia,Australian
37979,2016,5350830.00,2,0830.00,2.5,4.0,0,535083000,Australian,1608,NaN,15,10,10,Australia,Australian
37980,2016,5350831.01,2,0831.01,2.8,3.2,0,535083101,Australian,1608,NaN,0,0,0,Australia,Australian
37981,2016,5350831.02,2,0831.02,4.1,4.6,0,535083102,Australian,1608,NaN,10,10,0,Australia,Australian
37982,2016,5350832.00,2,0832.00,2.9,5.0,0,535083200,Australian,1608,NaN,10,0,10,Australia,Australian

# Write Cleaned DF to a CSV File

In [10]:
# Create first row of a dataframe that will contain each census tract and
# % populations of each ethnic group

# Creates a single dataframe with one row, census tract as row name and
# each column % of individuals in census tract of certain nationalities
eth_by_tract = census_data_filter[census_data_filter['ALT_GEO_CODE']==535000100]
eth_by_tract = eth_by_tract[['ALT_GEO_CODE','DIM: Profile of Census Tracts (2247)','Dim: Sex (3): Member ID: [1]: Total - Sex']]

first_entry_index = list(eth_by_tract.index)[0]
tract = eth_by_tract['ALT_GEO_CODE'][first_entry_index]

eth_by_tract = eth_by_tract.rename(columns={'Dim: Sex (3): Member ID: [1]: Total - Sex':tract})
eth_by_tract = eth_by_tract.set_index('DIM: Profile of Census Tracts (2247)')
eth_by_tract = eth_by_tract[[tract]]
eth_by_tract[tract] = eth_by_tract[tract].astype('int64')/int(eth_by_tract[tract]['Total - Ethnic origin for the population in private households - 25% sample data'])
eth_by_tract = eth_by_tract.T

# iterates through other census tracts and builds a dataframe with every census
# tract and ethnicities
for i in toronto_census_tracts['ALT_GEO_CODE'][1:]:
    single_tract = census_data_filter[census_data_filter['ALT_GEO_CODE']==int(i)]
    single_tract = single_tract[['ALT_GEO_CODE','DIM: Profile of Census Tracts (2247)','Dim: Sex (3): Member ID: [1]: Total - Sex']]
    first_entry_index = list(single_tract.index)[0]
    tract = single_tract['ALT_GEO_CODE'][first_entry_index]
    
    single_tract = single_tract.rename(columns={'Dim: Sex (3): Member ID: [1]: Total - Sex':tract})
    single_tract = single_tract.set_index('DIM: Profile of Census Tracts (2247)')
    single_tract = single_tract[[tract]]
    single_tract.loc[(single_tract[int(i)]=='x')]=0    
    single_tract[tract] = single_tract[tract].astype('int64')/int(single_tract[tract]['Total - Ethnic origin for the population in private households - 25% sample data'])
    single_tract = single_tract.T
  
    eth_by_tract = eth_by_tract.append(single_tract)

# deletes census tracts with no data    
eth_by_tract = eth_by_tract.fillna(0)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
eth_by_tract = eth_by_tract[eth_by_tract['Total - Ethnic origin for the population in private households - 25% sample data']>0]

# writes dataframe to a csv file
eth_by_tract.to_csv('EthByTract.csv',index_label='ALT_GEO_CODE')